@import url('https://fonts.googleapis.com/css2? family= Vujahday+Script & display=swap');

        body{
            margin: 0;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            background-image: url(imagens/art08.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            color: blanchedalmond;
            
        }
        header{
            height: 115px;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: darkgray;
            font-size: 3vh;
        }
        main{
            font-size: 3vh;
            margin: 0;
            

        }
        section{
            padding: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: 0;
            background-attachment: fixed;
        
        }
        .claro{
            color:black;
            font-weight: bold;
        }

        section.claro > p {
            
            width: 400px;
            background-color: rgba(245, 245, 220, 0.562);
        }
        
        #art04{
            background-image: url(imagens/fundo.jpg);
            
        }
        #art06{
            background-image: url(imagens/art06.jpg);
        }
        
        footer{
            background-color: royalblue;
            height: 25px;
            text-align: center;
        }